@font-face{
    font-family: StarBorn;
    src: url(./font/cartoon_2_us/Cartoon2US-Regular.ttf);
}

html {
    scroll-behavior: smooth;
}

body {
    padding-top: 5%;
    cursor: url("cursor.png") , auto;
}

header {
    background-image: url(./imagens/fundo.webp);
    display: inline-block;
    position: fixed;
    top: 0;
    width: 100%;
    transition: transform 0.3s ease-in-out; /* Transição suave para aparecer/desaparecer */
    transform: translateY(-100%); /* Inicialmente oculto acima da tela */
}

/* Classe para exibir o header */
.header-visible {
    transform: translateY(0); /* Exibe o header */
}

/* CSS para a navegação */
.navbar {
    align-items: center;
}

img {
    height: auto;
    /* Ajuste a altura do logo conforme necessário */
}

img.banner{
    margin-left: 70%;
    margin-top:5%;
    min-width: 30rem;
    max-width: 30rem;
    border-radius: 0.5cm;
}
/* section div.info p{
    display: flex;
    justify-content: center;
    align-items: center; 
}*/

section div.info{
    display: inline-block;
    justify-content: center;
    align-items: center;
}

section div.info h2, p{
    /* display: inline-block; */
    float: left;
    justify-content: center;
    align-items: center;
}

section div.info img.banner, p{
    display: inline-block;
    vertical-align: top;
}

/* img.banner{
    display: flex;
    margin: 2cm;
    min-width: 30rem;
    max-width: 30rem;
    border-radius: 0.5cm;
} */

header nav {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
}

/* CSS para a lista de navegação */
.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    margin: 10px;
    /* Ajuste o espaçamento entre os itens da lista */
}

.navbar ul li a {
    text-decoration-line: none;
    color: black;
    font-size: larger;

}

header .navbar ul li a:hover {
    text-decoration-line: none;
    color: hotpink;
}

section div div h2{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: start;
}

section h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-family: StarBorn , 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */, ;
    font-size: 50px;
    background:-webkit-linear-gradient(#FFDEE9 ,#B5FFFC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #000;
}

section div.vale {
    display: block;
    min-height: 1000px;
    background-image: url(./imagens/Vale/FundoVale.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

section div.fantasy {
    display: block;
    min-height: 1000px;
    background-image: url(./imagens/Fantasy/FundoFantasy.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

section div.tutti-frutti {
    display: block;
    min-height: 1000px;
    background-image: url(./imagens/Tutti-Frutti/FundoTuttiFrutti.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

section div.storyland {
    display: block;
    min-height: 1000px;
    background-image: url(./imagens/StoryLand/FundoStoryLand.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

section div.happyflowers {
    display: block;
    min-height: 1000px;
    background-image: url(./imagens/HappyFlower/FundoHappyFlowers.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

section div.iceworld {
    display: block;
    min-height: 1000px;
    background-image: url(./imagens/IceWorld/FundoIceWorld.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

section div.frozenfruit {
    display: block;
    min-height: 1000px;
    background-image: url(./imagens/FrozenFruit/FundoFrozenFruit.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

section div.hallowen {
    display: block;
    min-height: 1000px;
    background-image: url(./imagens/Hallowen/FundoHallowen.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

section div.tropical {
    display: block;
    min-height: 1000px;
    background-image: url(./imagens/Tropical/FundoTropical.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

section div.tropical2 {
    display: block;
    min-height: 1000px;
    background-image: url(./imagens/Tropical/FundoTropical2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

section div.golden {
    display: block;
    min-height: 1000px;
    background-image: url(./imagens/Golden/FundoGolden.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

section div.Pink{
    display: block;
    min-height: 1000px;
    background-image: url(./imagens/Pink/FundoPink.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

section div.littlechanges {
    display: block;
    min-height: 1000px;
    background-image: url(./imagens/LittleChanges/FundoLittleChanges.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

section div.especiais {
    display: block;
    min-height: 1000px;
    background-image: url(./imagens/imgteste.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.section {
    width: 100%;
    margin-right: auto;
    margin-left: auto;

}

.section .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    align-items: center;
    justify-content: center;
    flex: 0 0 25%;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.section .row .card {
    text-align: center;
    margin: 10px;
    border-radius: 5px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 15rem;
}

.section .vale .row img {
    border-radius: 0.5cm;
    min-width: 13rem;
    max-width: 13rem;
}

.section .row img {
    border-radius: 0.5cm;
    min-width: 15rem;
    max-width: 15rem;
}

/* .info {
    position: relative;
    cursor: pointer;
    text-decoration: none;
}

.tooltip {
    visibility: hidden;
    background-color: aliceblue;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Posição acima do texto */
    /* left: 50%;
    transform: translateX(-50%);
    width: 160px; 
}

.tooltip::after {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
}

.info:hover .tooltip {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s;
} */