html {
    scroll-behavior: smooth;
}

/* Adicionar padding ao corpo para garantir que o conteúdo não fique atrás do header */
body {
    padding-top: 5%;
    /* Ajuste este valor para o tamanho do seu header */
}

header {
    background-image: url(./imagens/fundo.webp);
    display: inline-block;
    position: fixed;
    top: 0;
    width: 100%;
    transition: transform 0.3s ease-in-out; /* Transição suave para aparecer/desaparecer */
    transform: translateY(-100%); /* Inicialmente oculto acima da tela */
}

/* Classe para exibir o header */
.header-visible {
    transform: translateY(0); /* Exibe o header */
}

/* CSS para a navegação */
.navbar {
    align-items: center;
}

img {
    height: auto;
    /* Ajuste a altura do logo conforme necessário */
}



header nav {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

/* CSS para a lista de navegação */
.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    margin: 0 10px;
    /* Ajuste o espaçamento entre os itens da lista */
}

.navbar ul li a {
    text-decoration-line: none;
    color: black;
    font-size: larger;

}

header .navbar ul li a:hover {
    text-decoration-line: none;
    color: hotpink;
}

section h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

section div.vale {
    display: block;
    min-height: 1000px;
    background-image: url(./imagens/Vale/FundoVale.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

section div.fantasy {
    display: block;
    min-height: 1000px;
    background-image: url(./imagens/Fantasy/FundoFantasy.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

section div.tutti-frutti {
    display: block;
    min-height: 1000px;
    background-image: url(./imagens/Tutti-Frutti/FundoTuttiFrutti.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

section div.storyland {
    display: block;
    min-height: 1000px;
    background-image: url(./imagens/StoryLand/FundoStoryLand.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

section div.happyflowers {
    display: block;
    min-height: 1000px;
    background-image: url(./imagens/HappyFlower/FundoHappyFlowers.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

section div.iceworld {
    display: block;
    min-height: 1000px;
    background-image: url(./imagens/IceWorld/FundoIceWorld.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

section div.hallowen {
    display: block;
    min-height: 1000px;
    background-image: url(./imagens/Hallowen/FundoHallowen.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

section div.tropical {
    display: block;
    min-height: 1000px;
    background-image: url(./imagens/Tropical/FundoTropical.png);
    background-repeat: no-repeat;
    background-size: 100%;
}


section div.golden {
    display: block;
    min-height: 1000px;
    background-image: url(./imagens/Golden/FundoGolden.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

section div.Pink{
    display: block;
    min-height: 1000px;
    background-image: url(./imagens/Pink/FundoPink.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

section div.frozenfruit {
    display: block;
    min-height: 1000px;
    background-image: url(./imagens/FrozenFruit/FundoFrozenFruit.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

section div.especiais {
    display: block;
    min-height: 1000px;
    background-image: url(./imagens/imgteste.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.section {
    width: 100%;
    margin-right: auto;
    margin-left: auto;

}

.section .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    align-items: center;
    justify-content: center;
    flex: 0 0 25%;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.section .row .card {
    text-align: center;
    margin: 10px;
    border-radius: 5px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 15rem;
}

.section .vale .row img {
    border-radius: 0.5cm;
    min-width: 13rem;
    max-width: 13rem;
}

.section .row img {
    border-radius: 0.5cm;
    min-width: 15rem;
    max-width: 15rem;
}